name: "Terraform Plan"

on:
  pull_request:
    branches:
      - develop

env:
  TF_CLOUD_ORGANIZATION: "Looply"
  TF_TOKEN_app_terraform_io: "${{ secrets.TF_API_TOKEN }}"
  CONFIG_DIRECTORY: "./component-library/infra/env/dev"

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform init
        working-directory: ${{ env.CONFIG_DIRECTORY }}
        run: terraform init

      - name: Terraform Plan
        working-directory: ${{ env.CONFIG_DIRECTORY }}
        run: terraform plan
